<p>Hi! Here is your reset code.</p>
<p>Provide it with your email and new password in route '../password/reset'</p>
<p>
    Your reset code is   {{resetCode}}
</p>
<p>If you did not request this email you can safely ignore it.</p>